* {
  margin: 0px;
  padding: 0px;
}
.box1 {
  height: 255px;
  /* width: 255px; */
  background-color: aqua;
  /* float: right; */
  /* order: 4; */
  /* align-self: flex-start; */
  flex-grow: 1;
  /* flex-shrink: 2; */
}
.box2 {
  height: 255px;
  /* width: 255px; */
  background-color: rgb(237, 19, 139);
  border: 2px solid black;
  /* float: right; */
  /* clear: left; */
  flex-grow: 1;
  /* flex-shrink: 2; */
}
.container {
  background-color: rgb(233, 244, 14);
  height: 100vh;
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap-reverse; */
  justify-content: center;
  align-items: center;
  /* align-content: center; */
}
