* {
  margin: 0;
  padding: 0px;
}
body {
  font-style: italic;
}
nav {
  background: black;
  color: aliceblue;
  height: 60px;
}
.navcontainer {
  display: flex;
  justify-content: end;
  align-items: baseline;
  flex-wrap: wrap;
}

ul {
  list-style: none;
  padding: 20px;
}

li {
  display: inline;
  padding: 50px;
}
.container {
  display: flex;
  justify-content: space-around;
}
.left {
  background-color: aqua;
  height: 80vh;
  width: 40vw;
  /* display: inline-block; */
}
.right {
  background-color: rgb(52, 225, 8);
  height: 80vh;
  width: 40vw;
  /* float: right; */
}
