* {
  margin: 0px;
  padding: 0px;
}
.container {
  display: grid;
  background-color: aqua;
  height: 500px;
  /* grid-row-gap: 9px; */
  /* grid-column-gap: 9px; */
  grid-template-columns: 50px 50px 50px 50px;
  gap: 20px 50px;
  /* grid-template-rows: 50px; */
  justify-content: center;
  align-content: center;
}
.items {
  background-color: brown;
  border: 2px solid black;
}
