* {
  padding: 0;
  margin: 0;
}
.progress {
  background-color: red;
  height: 4px;
  animation: bar 1s ease-in;
}
header {
  background-color: aqua;
  height: 100px;
}
main {
  background-color: black;
  height: 955px;
}
@keyframes bar {
  0% {
    width: 0vw;
  }
  70% {
    width: 50vw;
  }
  100% {
    width: 100vw;
  }
}
img {
  animation: img 1s ease-in infinite;
}
@keyframes img {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* .slider {
  height: 300px;
  background-color: blue;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
} */
