* {
  margin: 0px;
  padding: 0px;
}
header {
  background-color: black;
  color: aliceblue;
}
.content {
  height: 50vh;
  background-color: brown;
  margin: 40px;
  padding: 40px;
  box-sizing: border-box;
}
footer {
  background-color: aqua;
  margin: 30px;
}
.center {
  text-align: center;
}
