* {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 50px;
  margin-left: 50px;
  padding: 50;
}
div {
  background-color: antiquewhite;
}
h1 {
  background-color: rgb(221, 138, 13);
  color: blue;
}
p {
  background-color: aqua;
  color: blueviolet;
}
th {
  background-color: rgb(240, 94, 15);
  border-style: solid;
}
caption {
  background-color: blueviolet;
  color: azure;
  border-style: solid;
  border-color: black;
}
td {
  background-color: blueviolet;
  color: beige;
  border-style: solid;
  border-color: black;
}
.section {
  background-color: brown;
  color: aqua;
}
table {
  border: 8px solid black;
}
