* {
  margin: 0px;
  padding: 0px;
}
.parent {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 500px auto auto;
  background-color: #24252a;
  color: white;
  padding: 20px;
  align-items: center;
  /* grid-template-rows: auto auto auto; */
}
.sona {
  /* padding-left: 400px; */
  font-weight: bolder;
  padding: 0px 20px;
}
.sonb {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
}
.button {
  height: 40px;
  width: 80px;
  background-color: #0089a6;
  border: #0089a6;
  border-radius: 50px;
  font-size: medium;
  color: white;
}
button:hover {
  background-color: black;
  border-color: antiquewhite;
}
