.parent{
    display: flex;
    justify-content: space-between;
    border: 1px solid red;
    height: 100px;
    background-color: aqua;
}


.parent>div{
    border: 1px solid green;
  
}



.btn1{
    width: 140px;
    border-radius: 10px;
    background-color: yellow;
    height: 50px;
    font-size: 20px;
}


.btn2{
    width: 140px;
    
    border-radius: 10px;
    background-color: blue;
    color: white;
    height: 50px;
    font-size: 20px;
}

.child2{
 display: flex;
   justify-content: space-around;
   /* justify-content: center;
    */
   align-items: center; 
}


.chlidB{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    width: 500px;
    align-items: center;
    font-size: 20px;
}

.child1{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    gap:70px
    
}

.chlidA{
    border: 1px solid black;
    padding-top: 20px;
}


.search{
    border:1px solid black;
    margin-top: 400px;
  height: 400px;
}