* {
  margin: 0px;
  padding: 0px;
}
header {
  background-color: rgb(202, 125, 125);
  color: aliceblue;
  padding: 10px;
  position: sticky;
  top: 0px;
}
li {
  display: inline;
  font-size: 20px;
  padding: 0px 20px;
  background-size: cover;
  /* list-style: square inside url(pic.jpg); */
}
ul {
  list-style: square outside url(img1.jpg.png);
  margin-right: 50px;
}

.container {
  background-color: aqua;
  height: 200vh;
  position: sticky;
  z-index: 10px;
}
